* {
    margin-top: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firstsection {
    width: 100%;
    /* height: 1000px; */
    /* border: 2px solid black; */
    box-sizing: border-box;
    /* background-color: rgb(133, 72, 72);
 color: green; */
}

.box1 {

    width: 90%;
    /* height: 50px; */
    /* border: 2px solid black; */
    padding: 10px;
    box-sizing: border-box;
    background-color: #81c408;

    border-radius: 40px 80px;
    margin: auto;
}

.boxm {
    position: sticky;
    top: 0px;
}

.dropdown {
    position: absolute;
    top: 50%;
    z-index: 4;
    display: none;
    /* padding-top: 20px; */
    border: 2px solid darkgray;
    background-color: darkgray;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    color: black;
}

#realtive:hover .dropdown {
    display: block;

}

.list-style-type {
    list-style-type: none;
    padding: none;
    text-align: left;

    padding: 0px 20px;
}

.list-style-type:hover {
    background-color: orangered;
}

.box2 {
    /* border: 2px solid black; */
    /* box-sizing: border-box; */
    width: 20%;
    margin-top: 10px;
    margin-left: 50px;
    color: #81c408;
    background-color: white;
    font-size: 20px;
    display: inline-block;
    /* margin-left: 20px; */


}

.box3 {
    width: 60%;

    display: inline-block;


}

.brk {
    display: inline-block;
    /* padding-left: 20px; */
    margin-left: 50px;
    cursor: pointer;


}

.brk:hover {
    color: #81c408;

}

.box4 {
    display: inline-block;
    margin-left: 80px;
    /* padding-right: 0px; */
    font-size: 20px;
    cursor: pointer;
}

#bsk:hover {
    color: #81c408;
}

.secondsection {
    /* height: 300px; */
    width: 100%;
    border: 2px solid black;

}

.secondsection {
    background-image: url("https://themewagon.github.io/fruitables/img/hero-img.jpg");
    background-size: cover;
    /* height: 300px; */
    /* position: relative; */
}

.container {
    margin-top: 50px;
    margin-left: 50px;
    color: orange;
    font-size: 20px;
}

.container2 {
    margin-left: 50px;
    font-size: 40px;
    color: #81c408;
    /* font-weight: 10px; */
    /* display:inline-block ; */

}

.container3,
.container2 {
    display: inline-block;
    /* position: absolute; */
}

.container3 {
    margin-left: 120px;
}

.input {
    width: 100%;
    border: 2px solid orange;
    position: relative;
}

.container4 {
    width: 50%;
    margin-bottom: 30px;
    margin-left: 30px;
    /* border: 2px solid rebeccapurple; */
    /* width: 100%; */
}

.hero-input {
    font-size: 18px;
    border-radius: 50px;
    width: 100%;
    height: 70px;
    padding-left: 10px;
    border: none;
}

.hero-input:focus {
    border: 2px solid orange;
    outline: 4px solid #81c408;
}

.btnl {
    font-size: 18px;
    border-radius: 50px;
    height: 70px;
    width: 250px;
    position: absolute;
    background-color: #81c408;
    top: 0px;
    right: 0px;
}

.btnl:hover {

    background-color: orange;
    cursor: pointer;
    color: white;
}

.thirdsection {
    width: 100%;
    /* height: 500px; */
    /* border: 2px solid black; */
    margin-top: 30px;
}

.container5 {
    /* width: 90%; */
    /* height: 400px; */
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 50px;

}

.card {
    width: 20%;
    height: 300px;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;

}

.circle {
    margin: auto;
    height: 180px;
    width: 200px;
    border-radius: 50%;
    background-color: orange;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foursection {
    margin-top: 30px;
    margin-left: 30px;
    /* font-weight: 200px; */
    font-size: 2rem;
    display: inline-block;

}

.forgano {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 400px;
}

.list {
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
    /* border: 1px solid black;  */
    border-radius: 40px;
    /* background-color: orange; */
    margin-top: 30px;
    /* text-align: center; */
    margin-left: 20px;
    /* margin-right: 30px; */
}

.list:hover {
    background-color: orange;
    color: white;
}

#all {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.fifthsection {
    /* border: 2px solid black; */
    width: 100%;
    /* height: 800px; */
    box-sizing: border-box;
}

.container6 {
    /* border: 2px solid black; */
    width: 90%;
    /* height: 600px; */
    box-sizing: border-box;
    margin: auto;
    /* margin-top: 10px; */
}

.cardM {
    width: 20%;
    /* border: 2px solid orange; */
    margin-top: 40px;
    margin-left: 40px;
    /* height: 500px; */
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 20px;
    /* background-color: #81c408; */

}

.cardM:hover {
    box-shadow: 0 0 25px 2px;
}

.cardM-img{
    width: 100%;
    height: 170px;
    /* border: 2px solid red; */
    overflow: hidden;
}

.hover:hover {
    color: white;
    background-color: orangered !important;

}

.transition{
    transition: all .8s ease;

}

.transition:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.sixthsection {
    /* border: 2px solid black; */
    width: 100%;
    /* height: 800px; */
    /* margin-top: 20px; */
    box-sizing: border-box;
    margin-right: 10px;
}

.container7 {
    width: 30%;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 40px;
    /* height: 400px;  */
    display: inline-block;
    vertical-align: top;
    /* margin-bottom: 10px;  */
    overflow: hidden;
    position: relative;
}

#border1 {
    border: 2px solid orange;
}

#border2 {
    border: 2px solid darkgray;
}

#border3 {
    border: 2px solid green;
}

.floating-box {


    /* border: 2px solid red ;  */
    border-radius: 8px;
    width: 70%;
    margin: 0 auto;
    background-color: #81c408;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 16%;

}

.floating-box h3 {
    padding-top: 8px;
    color: white;
}

.floating-box p {
    font-size: 16px;
    color: gray;
    font-size: 30px;
    font-weight: bold;

}

#background-color {
    background-color: white;
}

#background-color h3 {
    color: #81c408;
    font-size: 20px;
}

#background-color1 {
    background-color: orange;
}

.footer {
    /* border: 2px solid white; */
    width: 100%;
    /* height: 500px; */
    box-sizing: border-box;
    background-color: #45595B;
    /* margin: auto; */
    margin-top: 20px;
    /* margin-left: 30px; */
}

.footer p {
    margin-left: 30px;
    margin-top: 30px;
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
}

.footer button {
    margin-left: 30px;
    width: 200px;
    margin-top: 40px;
    background-color: #45595B;
    color: #81c408;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid orange;
}

.footer1 {
    /* border: 2px solid red; */
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;

}

.div {
    display: inline-block;
    /* border: 2px solid red; */
    width: 20%;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 30px;

    list-style-position: inside;
}

.nav1 {
    /* text-align: center; */
    font-size: 30px;
    /* margin-top: 20px; */
    padding: 20px;
    color: white
}